@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300; /* Light */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif; 
  font-weight: 300;
  font-style: normal;
}
a{
  text-decoration: none;
  color: inherit;
}
.navbar{
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  border-bottom: 1px solid #ccc;

}
.navbar ul{
  padding: 10px 30 px;
  border-radius: 30px;
}
.navbar ul li{
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}
body{
  background: black;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    font-weight: 300 Light;
}
h2 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 300 Light;
}
.footer{
  background: black;
  color: white;
  padding: 20px 0;
  text-align: center;
   border-top: 1px solid #ccc;
}
.footerInfo {
  display: flex;
  align-items: center;
  justify-content: center;      
  max-width: 600px;             
  margin: 0 auto;            
  gap: 32px; 
             
}

.footerInfo img {
  margin-right: 0;              /* Remove old margin */
}

.footerInfo div {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between paragraphs */
}